body {
    background-color: #eccadb;
    color: white;
    font-family: "Playfair Display", serif;

button {
    background-color: #f3dce9;
    color: rgb(241, 130, 167);
      font-family: "Playfair Display", serif;