/* código omitido */

body {
    background-color: #ffe5f5;
    color: white;
    font-family: "Playfair Display", serif;
    display: flex;

    align-items: center;
   
}

button {
    background-color: #f3deea;
    color: rgb(233, 137, 177);
 
}